/* Pallet RED - 962D3E GRR -343642 GRY - 979C9C  CRM - F2EBC7 BLU - 348899 */
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat');
html,body {
  width: 100vw;
  height: 100vh;
  color: #111;
  font-family: 'Montserrat', sans-serif;
}

.stage {
    height: 100vh;
}

hr {
  width: 60%;
}

h1,h2,h3,h4,h5{
  font-family: 'Merriweather', serif;
}

.spotlight {
  margin: 0.5em;
  text-align: center;
}

.spotlight .face {
  height : 30vh;
  border-radius: 100%;
  margin: 1em;
}

.mini-nav {
  list-style-type: none;
  padding: 0;
  margin: 1em 0;
}

.mini-nav li {
  display: inline;
  font-size: 1.3em;
}

.mini-nav a {
  color: #962D3E;
}

.mini-nav a:hover {
  color: #962D3E;
  text-decoration: none;
  border-bottom: 2px dotted #962D3E;
}

.mini-nav li:after {
  content: "/";
  padding: 0 0.5em;
}

.mini-nav li:last-child:after {
  content: none;
  padding: 0 0;
}

.the-net {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 5px;
}

.the-net a {
  text-decoration: none;
  color: #333;
}

.link-broken {
  pointer-events: none;
  text-decoration: line-through;
}